{%for comment in comments %}
    {%if comment.Machine == False %} 
         <li>               
             <em><img src="{{comment.ProfileUrl}}" alt="" width="48" height="48" class="alignleft border" /></em>
             <a href="{{comment.UserUrl}}"><h3>{{comment.UserName}}</h3></a>
             <p class="NM">{{comment.Text}}</p>
			 <a class="myButton"  onclick="FeedBack(this)">Machine</a>
		</li>
    {%endif%}
{%endfor%}

        <li id="NotMachine">
            <input type='hidden' id = 'PageToken' value = '{{PageToken}}'>
            <input type='hidden' id = 'ID' value = '{{ID}}'>
        </li>
        
      
 @!CUT!@
 
{%for comment in comments %}
    {%if comment.Machine == True %} 
        <li>               
            <em><img src="{{comment.ProfileUrl}}" alt="" width="48" height="48" class="alignleft border" /></em>
            <a href="{{comment.UserUrl}}"><h3>{{comment.UserName}}</h3></a>
            <p class="M">{{comment.Text}}</p>
			<a class="myButton"  onclick="FeedBack(this)">Not Machine</a>
	{%endif%}
{%endfor%}
		 <li id="Machine">
		 </li>